@import '../common.scss';

.wp-block {

  .container {
    border: 1px solid $gray;
    padding: 1rem;
  }
  .couponEditorWrapper {
    display: flex;
    text-align: center;
    .couponContentContainer, .couponImageContainer {
      flex: 1 50%;
    }
    hr {
      max-width: 160px;
    }
  }

  .button-container {
    text-align: center;
    padding: 22% 0;
    background: #dedede;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin: 0 0 1.2rem 0;
  }

  .heading {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .image {
    height: 15.7rem;
    width: 100%;
    object-fit: cover;
  }
}
